/*Outline formatting */
.cv__top-section {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}
.cv__top-section-header {
    border: 1px none #747474;
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
}

.cv_.cv__job {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 3%;
}

/*Non-tech.cv__jobs*/
.cv__job.cv__part-time {
    border-radius: 15px;
    box-shadow: #B3B3B3 5px 5px;
    color: #888888;
}

.cv__job.cv__part-time > .title-block > .cv__job-title:after {
    content: " (part time)";
    text-transform: lowercase;
    font-weight: lighter;
    font-style: italic;
}

/*Entry Header*/
.title-block {
    margin-top: 1%;
}

.cv__job-title {
    /*font-size: 20pt;*/
}

.cv__company-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.cv__job.cv__part-time > .cv__company-header {
    border-bottom: 1px solid #888888;
}

.cv__company-header > .cv__job-logistics > .cv__job-length {
    float: right;
}

.cv__responsibilities:before {
    content: "Responsibilities:";
}

/**Responsibilities**/
.cv__responsibility {

}

.cv__responsibility-title {

}


/**Tech Used**/
.cv__tech-used {
    border-left: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 2%;
}

.cv__tech-used:before {
    content: "Technologies Used:"
}

time.end:before {
    content: " - ";
}

* {
    /*border: 1px solid black;*/
}
