.resume-section {
    border-top: 1px solid black;
}

.resume-section-header {
    text-align: center;
}

.job {
    border: 3px outset darkgrey;
    border-radius: 10px;
    box-shadow: #B3B3B3 15px 15px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 3%;
}

.job.part-time {
    border-radius: 15px;
    box-shadow: #B3B3B3 5px 5px;
    color: #888888;
}

.job.part-time > .job-title:after {
    content: " (part time)";
    text-transform: lowercase;
    font-weight: lighter;
    font-style: italic;
}

.job-title {
    font-size: 20pt;
}

.company-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.job.part-time > .company-header {
    border-bottom: 1px solid #888888;
}

.company-header > .job-length {
    float: right;
}

.resume-section li {
    list-style: none;
}

.responsibilities:before {
    content: "Responsibilities:";
}

.tech-used {
    border-left: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
}

.tech-used:before {
    content: "Technologies Used:"
}

time.end:before {
    content: " - ";
}

.toggle-responsibilities {
    float: right;
}