body {
    border: 20px solid #2B2B2B;
    font-size: 16pt;
}

.pre-loaded {
    border: 1px black solid;
    background-color: #45403a;
}

nav {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#CurriculumVitae\.html {
    width: 80%;
    left: 10%;
    position: relative;
}

