terraform {
  backend "s3" {
    bucket         = "terraform-state-files-us-east-2-123456789012"
    key            = "my-blog.tfstate"
    region         = "us-east-2"
    dynamodb_table = "terraform-state-locks-us-east-2-123456789012"
  }
}
