<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Got Work?</h5>
                <p class="grey-text text-lighten-4">I'm not currently looking for a new role. However, if you've got some interesting problems that need solving or want to talk shop, feel free to reach out.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Me</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="mailto:{{ site.email }}"><i class="material-icons">email</i> {{ site.email }}</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/matthew-jourard-14997089"><i class="material-icons">person_add</i> Linked In</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{ site.time  | split: "-" | first }} Matthew Jourard
        </div>
    </div>
</footer>
